{{#each items}}
    {{#with this}} 
    <div class="lightbox-box uk-position-relative uk-flex uk-flex-column uk-flex-right lightbox-inner uk-cover-container uk-overflow-hidden" data-uk-lightbox="video-autoplay: true">
        <a class="uk-position-cover uk-position-z-index" href="{{src}}" data-caption="{{caption}}" aria-label="Click to watch video"></a>
		<img src="{{img}}" data-uk-cover alt="image" loading="lazy" width="{{width}}" height="{{height}}">
        <div class="uk-flex uk-flex-column uk-flex-middle uk-text-center lightbox-strap uk-background-primary uk-position-relative">
			<div class="shape-gold" role="presentation"></div>
			<div class="shape-base uk-position-cover uk-background-primary" role="presentation"></div>
			{{> renderIcon name="play-video" class="uk-position-top-center"}}
			<div class="uk-text-meta uk-text-secondary uk-text-uppercase uk-margin-small-bottom">{{label}}</div>
			<div class="uk-h3 uk-margin-remove-bottom uk-margin-remove-top">{{title}}</div>
        </div>
    </div>
    {{/with}}
{{/each}}    