<section class="uk-section{{#if sectionClass}} {{sectionClass}}{{/if}}" id="{{#if id}}{{ida id}}{{else}}section-{{page.name}}{{/if}}">
	{{#> ukContainer}}
		{{#*inline "out"}}
		{{#if label}}
			<p class="uk-text-uppercase uk-text-secondary uk-margin-small-bottom label" data-uk-scrollspy="cls: uk-animation-fade; delay: 300">{{label}}</p>
		{{/if}}
		<div class="uk-grid-small" data-uk-grid data-uk-scrollspy="cls: uk-animation-fade; delay: 350; target: >div">
			<div class="{{#if (eq sectionClass "services")}}uk-width-3-4@m{{else}}uk-width-1-2@m{{/if}}">
				<h2>{{heading}}</h2>
			</div>
			<div class="uk-flex uk-flex-right@m uk-flex-bottom{{#if (eq sectionClass "services")}} uk-width-1-4@m{{else}} uk-width-1-2@m{{/if}}">
				{{> ukButton link="#" label=buttonLabel size="large" icon="arrow-right"}}					
			</div>
		</div>
		{{#> out id="" class="" heading="" size=""}}{{/out}}
		{{/inline}}
	{{/ukContainer}}
</section>
