<!doctype html>
<html lang="en-gb" class="template-{{page.template.name}}">
<head>
	<meta name="robots" content="noindex, nofollow">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">

	<title>{{page.meta_title}}</title>

	<meta name="description" content="This page is called {{page.title}}">

	<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
	<link rel="manifest" href="./site.webmanifest">
	<link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="./css/uikit-theme.min.css" />
	<link rel="stylesheet" href="./css/mmenu-theme.min.css" />
	<link rel="stylesheet" href="./css/main.min.css" />
</head>
<body>

	<div>

		<header class="header" data-uk-sticky="media: 960; animation: uk-animation-slide-top; show-on-up: true;">
			<nav class="uk-background-primary nav-top uk-flex uk-flex-right uk-flex-middle uk-visible@m">
				<div class="uk-flex uk-flex-right uk-flex-middle">
					<div class="uk-flex uk-flex-middle">
						<a class="uk-text-small" href="#">News</a>
						<a class="uk-text-small" href="#">Contact</a>
					</div>
					<div class="uk-flex uk-flex-middle">
						<a href="#" aria-label="Visit our Facebook page">{{> renderIcon name="facebook"}}</a>
						<a href="#" aria-label="Visit our Linkedin page">{{> renderIcon name="linkedin"}}</a>
					</div>
				</div>
				{{> ukButton link="#" style="secondary" label="Get a quote" icon="arrow-right"}}
			</nav>
			<nav class="uk-navbar-container uk-navbar uk-flex-between" data-uk-navbar>

				<div class="uk-navbar-left">
					<a href="./" class="uk-navbar-item uk-logo uk-position-relative">
						<img src="{{logo}}" alt="{{nb.siteName}} Logo" width="405" height="110" loading="lazy">
					</a>
				</div>

				<div class="uk-navbar-right">
					<div id="nav" class="uk-visible@m">
						{{> renderNavigation items=menu active=page.name}}
					</div>
					<div class="uk-flex uk-flex-middle">
						<button class="circle-button search-button uk-border-circle uk-position-relative uk-margin-small-left" aria-label="Search">{{> renderIcon name="search-bold"}}<span role="presentation"></span></button>
						<div data-uk-dropdown="mode: click; boundary: .header; boundary-align: true;" class="uk-width-1-1 search-menu uk-text-right">									
							{{> search}}
						</div>						
						<a href="#" class="circle-button uk-border-circle uk-position-relative uk-margin-small-left uk-flex uk-flex-middle uk-flex-center uk-visible@m" aria-label="Login">{{> renderIcon name="user"}}</a>
					</div>
					<a href="#" class="uk-navbar-toggle uk-position-relative uk-hidden@m uk-border-circle uk-margin-small-left" aria-label="Toggle Navigation" data-uk-toggle="target: #mmenu;cls: menu-hidden;">
						<span class="uk-position-center" role="presentation"></span>
					</a>
				</div>

			</nav>
		</header>

		<main>

			{{#if page.banner}}
				{{> banner}}
			{{/if}}
			{{#if (neq page.name "home")}}
				{{#> ukContainer size=(default page.ukContainer ukContainer) class="uk-margin-medium-top"}}
					{{#*inline "out"}}
						{{> ukBreadcrumb}}
					{{/inline}}
				{{/ukContainer}}				
			{{/if}}
			{{#if (eq page.template.name "nb-styleguide")}}
				{{#> ukContainer size=(default page.ukContainer ukContainer)}}
					{{#*inline "out"}}
						<h1>{{page.h1}}</h1>
					{{/inline}}
				{{/ukContainer}}
			{{/if}}

			{{#> main}}{{/main}}

		</main>

		<footer class="footer uk-position-relative">
			<span class="shape-blue" role="presentation"></span>
			<span class="shape-gold" role="presentation"></span>
			<div class="footer-inner uk-background-primary uk-position-relative">
				<div class="uk-container">

					<div class="footer-top">
						{{#> ukGrid class="uk-grid-medium uk-flex-middle uk-child-width-1-2@m"}}
							{{#*inline "cells"}}
								<div class="uk-h3">Subscribe to a Newsletter</div>
								<div class="uk-text-right@m">
									{{> ukButton label="Subscribe" icon="arrow-right" size="large" style="secondary"}}
								</div>
							{{/inline}}
						{{/ukGrid}}						
					</div>

					<div class="footer-middle">
						{{#> ukGrid class="uk-grid-medium uk-child-width-1-2@m"}}
							{{#*inline "cells"}}
							<div>
								{{#> ukGrid class="uk-grid-medium uk-child-width-1-2@s"}}
									{{#*inline "cells"}}
										<div>
											<ul class="links uk-padding-remove-left">
											{{#each links}}
												<li class="{{#if @last}}uk-margin-small-bottom{{else}}uk-margin-bottom{{/if}}">
													<a href="#">{{> renderIcon name=name}}{{link}}</a>
												</li>
											{{/each}}
											</ul>
										</div>
										<div>
											<div class="uk-text-small uk-text-bold">Streamline Shipping Group Ltd</div>
											<div class="uk-text-small">Streamline Terminal</div>
											<div class="uk-text-small">Blaikies Quay</div>
											<div class="uk-text-small">Aberdeen</div>
											<div class="uk-text-small uk-margin-bottom">AB11 5PU</div>

											<a href="tel:+4401224211506" class="uk-button uk-button-text">+44 (0)1224 211 506</a>
											<a href="mailto:getaquote@streamlinegroup.co.uk" class="uk-button uk-button-text">getaquote@streamlinegroup.co.uk</a>
										</div>
									{{/inline}}
								{{/ukGrid}}
							</div>
							<div>
								<div class="uk-flex uk-flex-right uk-flex-middle uk-flex-wrap">
									<div class="social">
										<a class="uk-flex-inline uk-flex-middle uk-margin-small-bottom" href="#"><span class="uk-border-circle uk-margin-small-right uk-flex-inline uk-flex-center uk-flex-middle">{{> renderIcon name="facebook"}}</span>Facebook</a>
										<a class="uk-flex-inline uk-flex-middle uk-margin-small-bottom" href="#"><span class="uk-border-circle uk-margin-small-right uk-flex-inline uk-flex-center uk-flex-middle">{{> renderIcon name="linkedin"}}</span>Linkedin</a>
									</div>
								</div>
								<div class="uk-text-right@m">
									{{> ukButton link="#" label="Get a quote" icon="arrow-right" size="large"}}
								</div>
							</div>						
							{{/inline}}
						{{/ukGrid}}							
					</div>

					<div class="footer-bottom uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
						<div class="copyright uk-margin-right">&copy; 2015-{{year}} {{nb.clientName}}. All rights reserved.</div>
						<div class="uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
							<div class="legal uk-flex uk-flex-middle uk-flex-wrap">
								<ul class="uk-flex uk-flex-middle uk-flex-wrap">
								{{#each legal}}
									<li>
										<a href="#">{{this}}</a>
									</li>
								{{/each}}
								</ul>
								<div class="watermark">
									Website by <a title="NB Communication - Digital Marketing Agency" target="_blank" rel="noopener" href="https://www.nbcommunication.com/">NB <img src="https://brand.nbcommunication.com/logo/web/nb.png" alt="NB Communication Ltd Logo" width="16" height="16" loading="lazy"></a>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="mmenu-overlay uk-hidden">
		<div id="mmenu">
			{{> renderNavigation items=menu mobile=true active=page.name}}
		</div>
		<div class="mmenu-bg" role="presentation"></div>
	</div>

	{{> SVGshapes}}


	<script src="./js/uikit.min.js"></script>
	<script src="./js/nbkit.min.js"></script>
	<script src="./js/mmenu.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>
