<!doctype html>
<html lang="en-gb" class="template-{{page.template.name}}">
<head>
	<meta name="robots" content="noindex, nofollow">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">

	<title>{{page.meta_title}}</title>

	<meta name="description" content="This page is called {{page.title}}">

	<link rel="shortcut icon" href="./favicon.ico">

	<link rel="stylesheet" href="./css/uikit-theme.min.css" />
	<link rel="stylesheet" href="./css/mmenu-theme.min.css" />
	<link rel="stylesheet" href="./css/main.min.css" />
</head>
<body>

	<div>

		<header class="header" data-uk-sticky="media: 960; animation: uk-animation-slide-top; show-on-up: true;">
			<nav class="uk-background-primary nav-top uk-flex uk-flex-right uk-flex-middle uk-visible@m">
				<div class="uk-flex uk-flex-right uk-flex-middle">
					<div class="uk-flex uk-flex-middle">
						<a class="uk-text-small" href="#">News</a>
						<a class="uk-text-small" href="#">Contact</a>
					</div>
					<div class="uk-flex uk-flex-middle">
						<a href="#" aria-label="Visit our Facebook page">{{> renderIcon name="facebook"}}</a>
						<a href="#" aria-label="Visit our Linkedin page">{{> renderIcon name="linkedin"}}</a>
					</div>
				</div>
				{{> ukButton link="#" style="secondary" label="Get a quote" icon="arrow-right"}}
			</nav>
			<nav class="uk-navbar-container uk-navbar uk-flex-between" data-uk-navbar>

				<div class="uk-navbar-left">
					<a href="./" class="uk-navbar-item uk-logo uk-position-relative">
						<img src="{{logo}}" alt="{{nb.siteName}} Logo">
					</a>
				</div>

				<div class="uk-navbar-right">
					<div id="nav" class="uk-visible@m">
						{{> renderNavigation items=menu active=page.name}}
					</div>
					<div class="uk-flex uk-flex-middle">
						<button class="circle-button search-button uk-border-circle uk-position-relative uk-margin-small-left" aria-label="Search">{{> renderIcon name="search"}}<span role="presentation"></span></button>
						<div data-uk-dropdown="mode: click; boundary: .header; boundary-align: true;" class="uk-width-1-1 search-menu uk-text-right">									
							{{> search}}
						</div>						
						<a href="#" class="circle-button uk-border-circle uk-position-relative uk-margin-small-left uk-flex uk-flex-middle uk-flex-center uk-visible@m" aria-label="Login">{{> renderIcon name="user"}}</a>
					</div>
					<a href="#" class="uk-navbar-toggle uk-position-relative uk-hidden@m uk-border-circle uk-margin-small-left" aria-label="Toggle Navigation" data-uk-toggle="target: #mmenu;cls: menu-hidden;">
						<span class="uk-position-center" role="presentation"></span>
					</a>
				</div>

			</nav>
		</header>

		<main class="uk-margin-bottom">

			{{#if page.banner}}
				{{> banner}}
				{{#if (neq page.name "home")}}
					{{#> ukContainer size=(default page.ukContainer ukContainer) class="uk-margin-top"}}
						{{#*inline "out"}}
							{{> ukBreadcrumb}}
							{{#unless (eq page.name "listings")}}
							<h1>{{page.h1}}</h1>
							{{/unless}}
						{{/inline}}
					{{/ukContainer}}				
				{{/if}}
			{{/if}}

			{{#> main}}{{/main}}

		</main>

		<footer class="footer uk-position-relative">
			<span class="shape-top" role="presentation"></span>
			<span class="shape-bottom" role="presentation"></span>
			<div class="footer-inner uk-position-relative">
				<div class="uk-container">

					<div class="footer-top">
						{{#> ukGrid class="uk-grid-medium uk-flex-middle uk-child-width-1-2@m"}}
							{{#*inline "cells"}}
								<div class="uk-h3">Subscribe to a Newsletter</div>
								<div class="uk-text-right@m">
									{{> ukButton label="Subscribe" icon="arrow-right" size="large" style="secondary"}}
								</div>
							{{/inline}}
						{{/ukGrid}}						
					</div>

					<div class="footer-middle">
						{{#> ukGrid class="uk-grid-medium uk-child-width-1-2@m"}}
							{{#*inline "cells"}}
							<div>
								{{#> ukGrid class="uk-grid-medium uk-child-width-1-2@s"}}
									{{#*inline "cells"}}
										<div>
											<ul class="links uk-padding-remove-left">
											{{#each links}}
												<li class="{{#if @last}}uk-margin-small-bottom{{else}}uk-margin-bottom{{/if}}">
													<a href="#">{{> renderIcon name=name}}{{link}}</a>
												</li>
											{{/each}}
											</ul>
										</div>
										<div>
											<div class="uk-text-small uk-text-bold">Streamline Shipping Group Ltd</div>
											<div class="uk-text-small">Streamline Terminal</div>
											<div class="uk-text-small">Blaikies Quay</div>
											<div class="uk-text-small">Aberdeen</div>
											<div class="uk-text-small uk-margin-bottom">AB11 5PU</div>

											<a href="tel:+4401224211506" class="uk-button uk-button-text">+44 (0)1224 211 506</a>
											<a href="mailto:getaquote@streamlinegroup.co.uk" class="uk-button uk-button-text">getaquote@streamlinegroup.co.uk</a>
										</div>
									{{/inline}}
								{{/ukGrid}}
							</div>
							<div>
								<div class="uk-flex uk-flex-right uk-flex-middle uk-flex-wrap">
									<div class="social">
										<a class="uk-flex-inline uk-flex-middle uk-margin-small-bottom" href="#"><span class="uk-border-circle uk-margin-small-right uk-flex-inline uk-flex-center uk-flex-middle">{{> renderIcon name="facebook"}}</span>Facebook</a>
										<a class="uk-flex-inline uk-flex-middle uk-margin-small-bottom" href="#"><span class="uk-border-circle uk-margin-small-right uk-flex-inline uk-flex-center uk-flex-middle">{{> renderIcon name="linkedin"}}</span>Linkedin</a>
									</div>
								</div>
								<div class="uk-text-right@m">
									{{> ukButton link="#" label="Get a quote" icon="arrow-right" size="large"}}
								</div>
							</div>						
							{{/inline}}
						{{/ukGrid}}							
					</div>

					<div class="footer-bottom uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
						<div class="copyright uk-margin-right">&copy; 2015-{{year}} {{nb.clientName}}. All rights reserved.</div>
						<div class="uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
							<div class="legal uk-flex uk-flex-middle uk-flex-wrap">
								<ul class="uk-flex uk-flex-middle uk-flex-wrap">
								{{#each legal}}
									<li>
										<a href="#">{{this}}</a>
									</li>
								{{/each}}
								</ul>
								<div class="watermark">
									Website by <a title="NB Communication - Digital Marketing Agency" target="_blank" rel="noopener" href="https://www.nbcommunication.com/">NB <img src="https://brand.nbcommunication.com/logo/web/nb.png" alt="NB Communication Ltd Logo" width="16" height="16" loading="lazy"></a>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="mmenu-overlay uk-hidden">
		<div id="mmenu">
			{{> renderNavigation items=menu mobile=true active=page.name}}
		</div>
		<div class="mmenu-bg" role="presentation"></div>
	</div>

	<svg class="svg">
		<clipPath id="videoShapeTop" clipPathUnits="objectBoundingBox"><path d="M0.999,0.336 C0.62,1,0.392,1,-0.001,0.91 L-0.001,0.831 C-0.001,0.831,0.22,0.961,0.484,0.825 C0.748,0.689,0.999,0.009,0.999,0.009 L0.999,0.336"></path></clipPath>
	</svg>
	<svg class="svg">
		<clipPath id="videoShapeBottom" clipPathUnits="objectBoundingBox"><path d="M1,1 H0 V0.225 C0,0.225,0.238,0.277,0.503,0.246 C0.767,0.216,1,0.109,1,0.109 V1"></path></clipPath>
	</svg>
	<svg class="svg">
	<clipPath id="bannerShapeBottom" clipPathUnits="objectBoundingBox"><path d="M1,0.332 C0.621,0.995,0.393,1,0,0.905 L0,0.827 C0,0.827,0.22,0.956,0.484,0.82 C0.749,0.685,1,0.005,1,0.005 L1,0.332"></path></clipPath>
	</svg>	
	<svg class="svg">
		<clipPath id="heroShape" clipPathUnits="objectBoundingBox"><path d="M0,0.001 H1 V0.818 C1,0.818,0.762,0.951,0.5,0.987 C0.238,1,0,0.977,0,0.977 V0.001"></path></clipPath>
	</svg>
	<svg class="svg">
		<clipPath id="goldHeroShape" clipPathUnits="objectBoundingBox"><path d="M1,0.327 C0.621,0.99,0.393,1,0,0.901 L0,0.822 C0,0.822,0.22,0.952,0.485,0.816 C0.749,0.68,1,0,1,0 L1,0.327"></path></clipPath>
	</svg>
	<svg class="svg">
		<clipPath id="blueHeroShape" clipPathUnits="objectBoundingBox"><path d="M1,0.087 C0.624,1,0.39,1,0.001,0.809 L0.001,0.774 C0.396,1,0.624,0.945,1,0.005 L1,0.087"></path></clipPath>
	</svg>
	<svg class="svg">
		<clipPath id="footerShape" clipPathUnits="objectBoundingBox"><path d="M1,1 H0 V0.118 C0,0.118,0.238,0.169,0.502,0.139 C0.767,0.108,1,0.001,1,0.001 V1"></path></clipPath>
	</svg>
	{{!-- <svg class="svg">
	<clipPath id="footerShapeTop" clipPathUnits="objectBoundingBox"><path d="M1,0.33 C0.621,0.993,0.393,1,0,0.903 L0,0.825 C0,0.825,0.22,0.954,0.485,0.819 C0.749,0.683,1,0.003,1,0.003 L1,0.33"></path></clipPath>
	</svg>	 --}}

	<script src="./js/uikit.min.js"></script>
	<script src="./js/nbkit.min.js"></script>
	<script src="./js/mmenu.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>
