<div class="about">

	{{#> ukContainer}}
		{{#*inline "out"}}

		<p class="uk-text-uppercase uk-text-secondary uk-margin-small-bottom label">{{label}}</p>
		{{#> ukGrid class="uk-grid-medium uk-child-width-1-2@m"}}
			{{#*inline "cells"}}

				<div>
					<h2>{{heading}}</h2>
				</div>
				<div>
					<p class="uk-text-lead">{{page.about.intro}}</p>
				</div>
				<div class="uk-flex uk-flex-bottom">
					<div class="uk-flex">
						<div class="uk-margin-small-right" data-uk-lightbox>
							<a class="uk-button uk-button-primary uk-button-large" href="{{src}}" data-caption="{{lightboxLabel}}">
								{{> renderIcon name="play" class="icon-left"}}
								{{lightboxLabel}}
							</a>
						</div>
						{{> ukButton link="#" label="Find out more about us" size="large" icon="arrow-right"}}
					</div>						
				</div>
				<div>				
					{{#each page.about.text}}
						{{#with this}}
							<p>{{text}}</p>
						{{/with}}
					{{/each}}
				</div>

			{{/inline}}
		{{/ukGrid}}

		{{/inline}}
	{{/ukContainer}}

	<div class="about-images">
		{{#> ukGrid class="uk-grid-small uk-child-width-1-5@s uk-child-width-1-2"}}
			{{#*inline "cells"}}

			{{#each page.about.images}}
				{{#with this}}
					<div>
						<div class="uk-cover-container">
							<img src="{{src}}" alt="image" data-uk-cover>
						</div>
					</div>
				{{/with}}
			{{/each}}
				
			{{/inline}}
		{{/ukGrid}}	
	</div>


	{{#> ukContainer}}
		{{#*inline "out"}}
		
		<div class="about-services">
			{{#> ukGrid class="uk-grid-collapse uk-child-width-1-4@m uk-child-width-1-2@s"}}
				{{#*inline "cells"}}

				{{#each page.about.numbers}}
					{{#with this}}
						<div>
							{{> renderIcon name=name}}
							<div class="number uk-text-secondary">{{number}}</div>
							<div class="uk-text-small">{{text}}</div>
						</div>
					{{/with}}
				{{/each}}

				{{/inline}}
			{{/ukGrid}}
		</div>

		{{/inline}}
	{{/ukContainer}}
	
</div>