<div class="sectors">

	{{#> ukContainer}}
		{{#*inline "out"}}

		<p class="uk-text-uppercase uk-text-secondary uk-margin-small-bottom label">{{label}}</p>
		{{#> ukGrid class="uk-grid-collapse uk-child-width-1-4@l uk-child-width-1-2@s"}}
			{{#*inline "cells"}}

				<div class="uk-width-3-4@l">
					<h2>{{heading}}</h2>
				</div>
				<div class="uk-flex uk-flex-bottom uk-width-1-4@l">
					{{> ukButton link="#" label="View all news" size="large" icon="arrow-right"}}					
				</div>

			{{/inline}}
		{{/ukGrid}}

		{{/inline}}
	{{/ukContainer}}

	<div class="sectors-images uk-margin-large-bottom">
		{{#> ukGrid class="uk-grid-small uk-child-width-1-5@m uk-child-width-1-2@s"}}
			{{#*inline "cells"}}

			{{#each page.sectors.imageLinks}}
				{{#with this}}
					<div>
						<div class="uk-cover-container uk-flex uk-flex-column uk-flex-right sectors-item uk-overflow-hidden">
							<a href="#" class="uk-position-cover uk-position-z-index" aria-label="Find out more about {{title}}"></a>
							<img src="{{src}}" alt="image" data-uk-cover>
							<div class="uk-text-bold uk-text-uppercase uk-position-relative">{{title}}</div>
							{{> renderIcon name="arrow-right-long"}}
						</div>
					</div>
				{{/with}}
			{{/each}}
				
			{{/inline}}
		{{/ukGrid}}	
	</div>	


	{{#> ukContainer}}
		{{#*inline "out"}}

		<div class="sectors-links">
			<p class="uk-text-uppercase uk-text-secondary label">Other sectors</p>

			<ul data-uk-grid class="uk-grid-medium uk-child-width-1-2@m">

				{{#each page.sectors.links}}
					{{#with this}}
						<li class="uk-position-relative uk-flex uk-flex-middle uk-margin-remove-top">
							<a class="uk-h4 uk-flex uk-position-relative uk-flex-middle uk-flex-between xuk-width-1-1" href="#">
								{{title}}
								{{> renderIcon name="arrow-right" class="uk-margin-left uk-text-secondary uk-visible@m"}}
							</a>
						</li>
					{{/with}}
				{{/each}}

			</ul>
		</div>

		{{/inline}}
	{{/ukContainer}}
	
</div>